Repository godkingjay/LeetCode, pull requests merged in 2023-10, with the labels that each got.

#4 added solution to easy 557.Reverse Words in a String III
  Easy/557. Reverse Words in a String III/README.md
  Easy/557. Reverse Words in a String III/solution.py
Labels: hacktoberfest-accepted, hacktoberfest

#6 updated readme.md
  README.md
Labels: hacktoberfest-accepted, hacktoberfest

#8 Add Solution for Problem 2423: Remove Letter To Equalize Frequency
  Easy/2423. Remove Letter To Equalize Frequency/Readme.md
  Easy/2423. Remove Letter To Equalize Frequency/Solution.py
Labels: hacktoberfest-accepted, hacktoberfest

#9 added dart and java solutions
  Easy/557. Reverse Words in a String III/solution.dart
  Easy/557. Reverse Words in a String III/solution.java
Labels: hacktoberfest-accepted, hacktoberfest

#12 Easy leetcode problem added, 2591. Distribute Money to Maximum Children
  Easy/2591. Distribute Money to Maximum Children/Readme.md
  Easy/2591. Distribute Money to Maximum Children/Solution.cpp
Labels: hacktoberfest-accepted, hacktoberfest, solution

#13 Refactor: Two sum problem with better way
  Easy/1. Two Sum/Solution.js
Labels: hacktoberfest-accepted, hacktoberfest, solution

#18 added 108. Convert Sorted Array to Binary Search Tree
  Easy/108. Convert Sorted Array to Binary Search Tree/README.md
  Easy/108. Convert Sorted Array to Binary Search Tree/Solution.cpp
Labels: hacktoberfest-accepted, hacktoberfest, solution

#17 Added JavaScript Solution for problem 26. Remove Duplicates from Sorted Array
  Easy/26. Remove Duplicates from Sorted Array/README.md
  Easy/26. Remove Duplicates from Sorted Array/Solution.js
Labels: hacktoberfest-accepted, hacktoberfest, solution

#16 Added leetcode 8. String to Integer (atoi) Problem solution
  Medium/8. String to Integer (atoi)/Solution.js
Labels: hacktoberfest-accepted, hacktoberfest, solution

#26 Added java solution for Problem 108
  Easy/108. Convert Sorted Array to Binary Search Tree/README.md
  Easy/108. Convert Sorted Array to Binary Search Tree/Solution.java
Labels: hacktoberfest-accepted, hacktoberfest, solution

#23 557. Reverse Words in a String III Javascript Solution
  Easy/557. Reverse Words in a String III/solution.js
Labels: hacktoberfest-accepted, hacktoberfest, solution

#24 cpp sol added
  Easy/342. Power of Four/Solution.cpp
  Easy/344. Reverse String/Solution.cpp
Labels: hacktoberfest-accepted, hacktoberfest, solution

#27 Added leetcode Solution for 141.Linked List Cycle
  Easy/141.Linked List Cycle/README.md
  Easy/141.Linked List Cycle/solution.cpp
  Easy/141.Linked List Cycle/solution.java
Labels: hacktoberfest-accepted, hacktoberfest, solution

#32 Added 55. Jump Game
  Medium/55. Jump Game/README.md
  Medium/55. Jump Game/Solution.cpp
Labels: hacktoberfest-accepted, hacktoberfest, solution

#28 Added 560. Subarray Sum Equals K Problem and solution
  Medium/560. Subarray Sum Equals K/readme.md
  Medium/560. Subarray Sum Equals K/solution.js
Labels: hacktoberfest-accepted, hacktoberfest, solution

#35 CPP solution added
  Easy/1672. Richest Customer Wealth/Solution.cpp
  Easy/1929. Concatenation of Array/Solution.cpp
Labels: hacktoberfest-accepted, hacktoberfest, solution

#41 fix misspelled typo
  Easy/1. Two Sum/README.md
Labels: documentation, hacktoberfest-accepted, hacktoberfest, readme, fix

#37 Added Java solution of Problem #13 and readme file of it.
  Easy/13. Roman to Integer/README.md
  Easy/13. Roman to Integer/Solution.java
  Easy/14. Longest Common Prefix/solution.cpp
  Easy/14. Longest Common Prefix/solution.java
Labels: hacktoberfest-accepted, hacktoberfest, solution

#42 Create solution.java
  Medium/3. Longest Substring Without Repeating Characters/solution.java
Labels: hacktoberfest-accepted, hacktoberfest, solution

#47 Create FindTheCelebrity277.java
  Easy/FindTheCelebrity277.java
Labels: hacktoberfest-accepted, hacktoberfest, solution

#49 Raunak
  Easy/121. Best Time to buy and sell stock/Solution.java
  Easy/121. Best Time to buy and sell stock/sol.md
  Easy/222. Count complete Tree Node/Solution.java
  Easy/222. Count complete Tree Node/sol.md
Labels: hacktoberfest-accepted, hacktoberfest, solution

#52 Solution for Problem-343 Integer Break
  Medium/343. Integer Break/solution.cpp
  Medium/343. Integer Break/solution.md
  Medium/343. Integer Break/solution.py
Labels: hacktoberfest-accepted, hacktoberfest, solution

#51 Added 2703. Return Length of Arguments Passed
  Easy/2703. Return Length of Arguments Passed/README.md
  Easy/2703. Return Length of Arguments Passed/solution.js
Labels: hacktoberfest-accepted, hacktoberfest, solution

#56 343.Integer Break
  Medium/343. Integer Break/solution.java
Labels: hacktoberfest-accepted, hacktoberfest, solution

#58 :fire: New: 1. two-sums TypeScript
  Easy/1. Two Sum/Solution.ts
Labels: hacktoberfest-accepted, hacktoberfest, solution

#45 2227. Encrypt and Decrypt Strings
  Hard/2227.Encrypt and Decrypt String/README.md
  Hard/2227.Encrypt and Decrypt String/solution.py
Labels: hacktoberfest-accepted, hacktoberfest, solution, dificulty: hard

#57 solution(java): Problems 229 and 287
  Medium/229.MajorityElement-ll/README.md
  Medium/229.MajorityElement-ll/Solution.cpp
  Medium/229.MajorityElement-ll/Solution.java
Labels: hacktoberfest-accepted, hacktoberfest, solution

#65 #61 leetcode:15 three Sum
  Medium/15. 3sum/README.md
  Medium/15. 3sum/solution.cpp
  Medium/15. 3sum/solution.java
Labels: hacktoberfest-accepted, hacktoberfest, solution

#68 Create 0073-set-matrix-zeroes.java
  Easy/0073. Set Matrix Zeroes/0073-set-matrix-zeroes.java
Labels: hacktoberfest-accepted, hacktoberfest, solution

#64 15.3sum
  Medium/15.3Sum/Solution.java
  Medium/15.3Sum/solution.cpp
  Medium/15.3Sum/solution.md
Labels: hacktoberfest-accepted, hacktoberfest, solution

#76 Finding the minimum number to removed to get array continues
  Hard/2009. Minimum Number of Operations to Make Array Continuous/README.md
  Hard/2009. Minimum Number of Operations to Make Array Continuous/solution.py
Labels: hacktoberfest-accepted, hacktoberfest, solution

#72 108.Convert Sorted Array to Binary Search Tree
  Easy/108. Convert Sorted Array to Binary Search Tree/Solution.py
Labels: hacktoberfest-accepted, hacktoberfest, solution

#75 add roman to integer python solution
  Easy/13. Roman to Integer/Solution.py
Labels: hacktoberfest-accepted, hacktoberfest, solution

#70 #50 leetcode:1420.build an array where you can find exactly k comparison
  Hard/1420. build array where you can find maximum exactly k comparison/Solution.cpp
  Hard/1420. build array where you can find maximum exactly k comparison/Solution.java
  Hard/1420. build array where you can find maximum exactly k comparison/Solution.md
Labels: hacktoberfest-accepted, hacktoberfest, solution

#77 34.Find First and Last Position of Element in Sorted Array
  Hard/34. Find First and Last Position of Element in Sorted Array/sol.cpp
  Hard/34. Find First and Last Position of Element in Sorted Array/sol.py
Labels: hacktoberfest-accepted, hacktoberfest, solution

#67 Update Solution.js
  Easy/26. Remove Duplicates from Sorted Array/Solution.js
  Easy/344. Reverse String/Solution.js
Labels: hacktoberfest-accepted, hacktoberfest, solution

#83 Contains Duplicate Javascript
  Easy/217. Contains Duplicate/Solution.js
Labels: hacktoberfest-accepted, hacktoberfest, solution

#84 1095. Added the problem mountain array [python]
  Hard/1095. Find in Mountain Array/READEME.md
  Hard/1095. Find in Mountain Array/solution.py
Labels: hacktoberfest-accepted, hacktoberfest, solution

#86 Added the solution for Leetcode problem no. 215
  Medium/215. Kth Largest Element in an Array/Solution.java
  Medium/215. Kth Largest Element in an Array/Solution.md
Labels: hacktoberfest-accepted, hacktoberfest, solution

#87 88. Merge Sorted Array - Solution Added
  Easy/88. Merge Sorted Array/README.md
  Easy/88. Merge Sorted Array/Solution.cpp
Labels: hacktoberfest-accepted, hacktoberfest, solution

#80 This Java code provides a solution for LeetCode problem #204
  Medium/204.CountPrimes/Count-Primes.java
  Medium/204.CountPrimes/README.md
Labels: hacktoberfest-accepted, hacktoberfest, solution

#81 #79 leetcode2251. Number of Flowers in Full Bloom
  Hard/2251. Number Of Flowers In Full Bloom/Solution.cpp
  Hard/2251. Number Of Flowers In Full Bloom/Solution.java
  Hard/2251. Number Of Flowers In Full Bloom/Solution.md
Labels: hacktoberfest-accepted, hacktoberfest, solution

#89 Create Min Cost Climbing Stairs.cpp [746]
  Easy/746.Min Cost Climbing Stairs/Min Cost Climbing Stairs.cpp
Labels: hacktoberfest-accepted, hacktoberfest, solution

#96 [26] Added C++ and Java Solution
  Easy/26. Remove Duplicates from Sorted Array/Solution.cpp
  Easy/26. Remove Duplicates from Sorted Array/Solution.java
Labels: hacktoberfest-accepted, hacktoberfest, solution

#97 [746] Added solution in python
  Easy/746.Min Cost Climbing Stairs/READme.md
  Easy/746.Min Cost Climbing Stairs/solution.py
Labels: hacktoberfest-accepted, hacktoberfest, solution

#103 [5] Longest Palindromic Substring
  Medium/5. Longest Palindromic Substring/Solution.cpp
  Medium/5. Longest Palindromic Substring/Solution.java
  Medium/5. Longest Palindromic Substring/Solution.md
Labels: hacktoberfest-accepted, hacktoberfest, solution

#104 [39] Added new problem "Combination Sum" with java solution
  Medium/39. Combination Sum/README.md
  Medium/39. Combination Sum/Solution.java
Labels: hacktoberfest-accepted, hacktoberfest, solution

#105 [2038] add c++ and java solutions
  Medium/2038. Remove Colored Pieces if Both Neighbors are the Same Color/Readme.md
  Medium/2038. Remove Colored Pieces if Both Neighbors are the Same Color/Solution.cpp
  Medium/2038. Remove Colored Pieces if Both Neighbors are the Same Color/Solution.java
Labels: hacktoberfest-accepted, hacktoberfest, solution

#110 [2742] Painting walls (python solution)
  Hard/2742. Painting the Walls/Readme.md
  Hard/2742. Painting the Walls/solution.py
Labels: hacktoberfest-accepted, hacktoberfest, solution

#111 Create 122. Best Time to Buy and Sell Stock II.cpp
  Easy/122. Best Time to Buy and Sell Stock II/122. Best Time to Buy and Sell Stock II.cpp
Labels: hacktoberfest-accepted, hacktoberfest, solution

#112 [2]. Problem c++ and java solution
  Medium/2.Add two numbers(1)/Readme.md
  Medium/2.Add two numbers(1)/Solution..cpp
  Medium/2.Add two numbers(1)/Solution.java
Labels: hacktoberfest-accepted, hacktoberfest, solution

#114 Create 1695. Maximum Erasure Value
  .gitignore
  Medium/1695. Maximum Erasure Value/README.md
  Medium/1695. Maximum Erasure Value/sol.cpp
Labels: hacktoberfest-accepted, hacktoberfest, solution

#119 A new solution for 7. Reverse Integer
  Medium/7. Reverse Integer/Constant space approach/Solution.java
  Medium/7. Reverse Integer/Constant space approach/Solution.md
Labels: hacktoberfest-accepted, hacktoberfest, solution

#117 [29] Solution for Divide Two Integers
  Medium/29. Divide Two Integers/solution.cpp
  Medium/29. Divide Two Integers/solution.md
Labels: hacktoberfest-accepted, hacktoberfest, solution

#118 [169] Solution for Majority Element
  Easy/169. Majority Element/solution.cpp
  Easy/169. Majority Element/solution.java
  Easy/169. Majority Element/solution.md
  Easy/169. Majority Element/solution.py
Labels: hacktoberfest-accepted, hacktoberfest, solution

#121 [1269] Added solution in python
  Hard/1269. Number of Ways to Stay in the Same Place After Some Steps/Readme.md
  Hard/1269. Number of Ways to Stay in the Same Place After Some Steps/solution.py
Labels: hacktoberfest-accepted, hacktoberfest, solution

#122 456: 132 Pattern Python Solution
  Medium/456. 132 Pattern/README.md
  Medium/456. 132 Pattern/sol.py
Labels: hacktoberfest-accepted, hacktoberfest, solution

#109 [25] Start work on issue #100
  .gitignore
  Hard/25. Reverse Nodes in k-Group/ListNode.java
Labels: hacktoberfest-accepted, hacktoberfest, solution

#59 solution(java): Problems 4, 151, 172, 2186, 287, and 34 - by Raunak
  Hard/4. Median of Two Sorted Arrays/New approach[Arraylist]/Solution.java
  Hard/4. Median of Two Sorted Arrays/New approach[Arraylist]/sol.md
  Hard/4. Median of Two Sorted Arrays/New approach[add two array]/Solution.java
  Medium/151. Reverse Words in a String/Solution.java
  Medium/151. Reverse Words in a String/sol.md
  Medium/172. Factorial Trailing Zeroes/Solution.java
  Medium/172. Factorial Trailing Zeroes/sol.md
  Medium/2186. Minimum Number of Steps to Make Two Strings Anagram II/Solution.java
  Medium/2186. Minimum Number of Steps to Make Two Strings Anagram II/sol.md
  Medium/287. Find Duplicate Number/New Approach/Solution.java
  Medium/287. Find Duplicate Number/New Approach/sol.md
  Medium/34. First and Last Position of Element in an Array/New Approach/Solution.java
  Medium/34. First and Last Position of Element in an Array/New Approach/sol.md
Labels: hacktoberfest-accepted, hacktoberfest, solution

#120 Created a java solution for the [189.RotateArray]#116
  Medium/189. Rotate Array/README.md
  Medium/189. Rotate Array/Solution.java
Labels: hacktoberfest-accepted, hacktoberfest, solution

#124 [119] Added solution in python
  Easy/119. Pascal's Triangle II/READme.md
  Easy/119. Pascal's Triangle II/solution.py
Labels: hacktoberfest-accepted, hacktoberfest, solution

#113 [2, 10] newsol (java)
  Hard/10. Regular Expression Matching/soljava.java
  Medium/2. Add Two Numbers/Solution02.java
Labels: hacktoberfest-accepted, hacktoberfest, solution

#127 [746] feat : add solution with java in cost climbing
  Easy/746.Min Cost Climbing Stairs/solution.java
Labels: hacktoberfest-accepted, hacktoberfest, solution

#128 [1] add JavaScript Solution to Two Sum (javascript)
  Easy/1. Two Sum/Solution.js
Labels: hacktoberfest-accepted, hacktoberfest, solution

#133 [242] valid anagram (javascript)
  Easy/242. Valid Anagram/Solution.js
  Easy/README.md
Labels: hacktoberfest-accepted, hacktoberfest, solution

#132 [1361] Added solution in python
  Medium/1361. Validate Binary Tree Nodes/Readme.md
  Medium/1361. Validate Binary Tree Nodes/solution.py
Labels: hacktoberfest-accepted, hacktoberfest, solution

#139 [122] issue#136 (cpp)
  Medium/122. Best Time to Buy and Sell Stock II/sol.md
  Medium/122. Best Time to Buy and Sell Stock II/solution.cpp
Labels: hacktoberfest-accepted, hacktoberfest, solution

#140 [121] Added JavaScript solution and README
  Easy/121. Best Time to buy and sell stock/README.md
  Easy/121. Best Time to buy and sell stock/Solutioin.js
  Easy/README.md
Labels: hacktoberfest-accepted, hacktoberfest, solution

#142 [2050] Added solution in python
  Hard/2050. Parallel Courses III/Reademe.md
  Hard/2050. Parallel Courses III/solution.py
Labels: hacktoberfest-accepted, hacktoberfest, solution

#143 328: Odd Even Linked List Python Solution
  Medium/328. Odd Even Linked List/README.md
  Medium/328. Odd Even Linked List/sol.py
Labels: hacktoberfest-accepted, hacktoberfest, solution

#146 341. Flatten Nested List Iterator #144 (cpp,java,python)
  Medium/341. Flatten Nested List Iterator/soln.cpp
  Medium/341. Flatten Nested List Iterator/soln.java
  Medium/341. Flatten Nested List Iterator/soln.py
Labels: hacktoberfest-accepted, hacktoberfest, solution

#147 [853] Added JavaScript solution and updated README
  Medium/853. Car Fleet/README.md
  Medium/853. Car Fleet/Solution.js
  Medium/README.md
Labels: hacktoberfest-accepted, hacktoberfest, solution

#148 [706] Design HashMap (javascript)
  Easy/706. Design HashMap/solution.js
Labels: hacktoberfest-accepted, hacktoberfest, solution

#149 [844] Solve Backspace string compare with JavaScript
  Easy/844. Backspace String Compare/Solution.js
  Easy/README.md
Labels: hacktoberfest-accepted, hacktoberfest, solution

#156 [55] Added Jump Game code in JAVA
  Medium/55. Jump Game/Solution.java
Labels: hacktoberfest-accepted, hacktoberfest, solution

#157 Add 146. LRU Cache medium and updated the corresponding README.md
  Medium/146. LRU Cache/README.md
  Medium/146. LRU Cache/Solution.java
  Medium/README.md
Labels: hacktoberfest-accepted, hacktoberfest, solution

#159 134. Gas Station (cpp,java,python)
  Medium/134.Gas Station/solution.cpp
  Medium/134.Gas Station/solution.java
  Medium/134.Gas Station/solution.py
Labels: hacktoberfest-accepted, hacktoberfest, solution

#160 [1425,238] Add Solution to Problems 1425 and 238 (cpp,java)
  Hard/1425. Constrained Subsequence Sum/sol.cpp
  Hard/1425. Constrained Subsequence Sum/sol.java
  Hard/1425. Constrained Subsequence Sum/sol.md
  Medium/238. Product of Array Except Self/sol.cpp
  Medium/238. Product of Array Except Self/sol.md
Labels: hacktoberfest-accepted, hacktoberfest, solution

#162 [33] Add Java Solution
  Medium/33. Search in Rotated Sorted Array/Solutions.java
Labels: hacktoberfest-accepted, hacktoberfest, solution

#163 [33] Add solution of search-in-rotated-sorted-array (java)
  Medium/33. Search in Rotated Sorted Array/Solution.java
Labels: hacktoberfest-accepted, hacktoberfest, solution

#167 [134,135,274] problem Solutions (java,cpp)
  Hard/135. Candy(1)/Readme.md
  Hard/135. Candy(1)/sloution.java
  Hard/135. Candy(1)/solution.cpp
  Medium/134. Gas Station/Readme.md
  Medium/134. Gas Station/Solution.cpp
  Medium/134. Gas Station/Solution.java
  Medium/274. H-Index/Readme.md
  Medium/274. H-Index/Solution.cpp
  Medium/274. H-Index/Solution.java
Labels: hacktoberfest-accepted, hacktoberfest

#166 [1793] Adding Solution ofmaximum-score-of-a-good-subarray.java
  Hard/1793. Maximum Score of a Good Subarray/README.md
  Hard/1793. Maximum Score of a Good Subarray/Solution.java
Labels: hacktoberfest-accepted, hacktoberfest, solution

#171 Complete work on problem 380
  Medium/380. Insert Delete GetRandom O(1)/RandomizedSet.Java
Labels: hacktoberfest-accepted, hacktoberfest, solution

#172 342. Power of four java & cpp sol.
  Easy/342.Power of Four (1)/Readme.md
  Easy/342.Power of Four (1)/Solution.cpp
  Easy/342.Power of Four (1)/Solution.java
Labels: hacktoberfest-accepted, hacktoberfest, solution

#174 Added Python Solution For [10 & 111] Problem
  Easy/111. Minimum Depth of Binary Tree/README.md
  Easy/111. Minimum Depth of Binary Tree/sol.py
  Hard/10. Regular Expression Matching/README.md
  Hard/10. Regular Expression Matching/sol.py
Labels: hacktoberfest-accepted, hacktoberfest, solution

#176 Added Code for 779. K-th Symbol in Grammar
  Medium/779. K-th Symbol in Grammar/Kth_Symbol.cpp
  Medium/779. K-th Symbol in Grammar/Kth_Symbol.java
  Medium/779. K-th Symbol in Grammar/README.md
Labels: hacktoberfest-accepted, hacktoberfest, solution

#179 [127] Added new problem "Word Ladder" with java solution
  Hard/127. Word Ladder/README.md
  Hard/127. Word Ladder/Solution.java
Labels: hacktoberfest-accepted, hacktoberfest, solution

#180 [47] Added new problem "Permutations II" with java solution
  Medium/47. Permutations II/README.md
  Medium/47. Permutations II/Solution.java
Labels: hacktoberfest-accepted, hacktoberfest, solution

#181 Added Solution for PROBLEM 273 (Hard) (Java)
  Hard/273. Integer to English Words/README.md
  Hard/273. Integer to English Words/Solution.java
Labels: hacktoberfest-accepted, hacktoberfest, solution

#185 [9] Create Solution.js
  Easy/9. Palindrome Number/Solution.js
Labels: hacktoberfest-accepted, hacktoberfest, solution

#187 Added Solution for PROBLEM 326 (Easy) (Java)
  Easy/326. Power of Three/README.md
  Easy/326. Power of Three/Solution.java
Labels: hacktoberfest-accepted, hacktoberfest, solution

#191 added longest Palindromic string
  Medium/5. Longest Palindromic String/longestPalindromic.cpp
  Medium/Longest Palindromic String/longestPalindromic.exe
Labels: hacktoberfest-accepted, hacktoberfest, solution

#192 Added Solution for PROBLEM 40 (medium) (Java)
  Medium/40. Combination Sum II/README.md
  Medium/40. Combination Sum II/Solution.java
Labels: hacktoberfest-accepted, hacktoberfest, solution

#186 5. Longest Palindromic Substring #182
  Medium/5. Longest Palindromic Substring/Solution.cpp
  Medium/5. Longest Palindromic Substring/Solution2.java
  Medium/5. Longest Palindromic Substring/Solution2.md
Labels: hacktoberfest-accepted, hacktoberfest, solution

#184 [5] c++ code for finding longest palindromic substring in a string
  Medium/5. Longest Palindromic Substring/chiku011solution.cpp
Labels: hacktoberfest-accepted, hacktoberfest, solution

#194 Added Solution and README for PROBLEM 43 (medium) (Java)
  Medium/43. Multiply Strings/README.md
  Medium/43. Multiply Strings/Solution.java
Labels: hacktoberfest-accepted, hacktoberfest, solution

#195 [1220] Added a python solution for counting strings with given conditions
  Hard/1220. Count Vowels Permutation/readme.md
  Hard/1220. Count Vowels Permutation/solution.py
Labels: hacktoberfest-accepted, hacktoberfest, solution

#196 [515] Added Solution to Leetcode Problem 515 (cpp)
  Hard/1425. Constrained Subsequence Sum/sol.md
  Medium/515. Find Largest Value in Each Tree Row/sol.cpp
  Medium/515. Find Largest Value in Each Tree Row/sol.md
Labels: hacktoberfest-accepted, hacktoberfest, solution

#197 [823] Binary Trees With Factors (java)
  Medium/823. Binary Trees With Factors/README.md
  Medium/823. Binary Trees With Factors/Solution.java
Labels: hacktoberfest-accepted, hacktoberfest, solution

#204 [58] Length_of_last_word(Hacktoberfest)
  Easy/58. Length of Last Word/Length_of_last_word.js
Labels: hacktoberfest-accepted, hacktoberfest, solution

#205 [12] Submit Integer to roman
  Medium/12. Integer To Roman/Solution.js
Labels: hacktoberfest-accepted, hacktoberfest, solution

#206 42. Trapping Rain Water js solution
  Hard/42. Trapping Rain Water/sol.js
  Hard/42. Trapping Rain Water/sol.md
Labels: hacktoberfest-accepted, hacktoberfest, solution

#207 [151] Added Python solution for problem 151 (medium)
  Medium/151. Reverse Words in a String/Approach 1/Solution.py
  Medium/151. Reverse Words in a String/Approach 1/sol.md
Labels: hacktoberfest-accepted, hacktoberfest, solution

#208 [42] Added Python solution for problem 42(hard)
  Hard/42. Trapping Rain Water/Approach 1/sol.md
  Hard/42. Trapping Rain Water/Approach 1/solution.py
Labels: hacktoberfest-accepted, hacktoberfest, solution

#209 [1356] Added Python solution for problem 1356(easy)
  Easy/1356. Sort Integers by The Number of 1 Bits/sol.md
  Easy/1356. Sort Integers by The Number of 1 Bits/solution.py
Labels: hacktoberfest-accepted, hacktoberfest, solution

#210 [6] Added Solution for 6. Zigzag Conversion
  Medium/6. Zigzag Conversion/README.md
  Medium/6. Zigzag Conversion/solution.cpp
  Medium/6. Zigzag Conversion/solution.java
  Medium/README.md
Labels: hacktoberfest-accepted, hacktoberfest, solution

#211 [233,76] Added java solution for problem 233 and 76 (Hard)
  Hard/233. Number of Digit One/README.md
  Hard/233. Number of Digit One/Sol.java
  Hard/76.Minimum Window Substring/README.md
  Hard/76.Minimum Window Substring/Sol1.java
Labels: hacktoberfest-accepted, hacktoberfest, solution

#216 feat: problem 2433
  Medium/2433. Find The Original Array of Prefix Xor/Readme.md
  Medium/2433. Find The Original Array of Prefix Xor/Solution.cpp
Labels: hacktoberfest-accepted, hacktoberfest, solution

#217 Added README.md and Sol3.java 37 (Hard)
  Hard/37.Sudoku Solver/README.md
  Hard/37.Sudoku Solver/Sol3.java
Labels: hacktoberfest-accepted, hacktoberfest, solution

#220 [Add] Added Py,Rust,GO,Scala solution for problem 115(hard)
  Hard/115. Distinct Subsequences/Approach 1/sol.md
  Hard/115. Distinct Subsequences/Approach 1/solution.go
  Hard/115. Distinct Subsequences/Approach 1/solution.py
  Hard/115. Distinct Subsequences/Approach 1/solution.rust
  Hard/115. Distinct Subsequences/Approach 1/solution.scala
Labels: hacktoberfest-accepted, hacktoberfest, solution
